<nav class="navbar navbar-expand-xl navbar-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"> Voyage Vista</i>
    </a>

    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse Container -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Search Bar -->
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" method="get" action="/listings/search">
          <div class="form-control search-box" id="search-box">
            <div class="form-control search-box inner-search-box">
              <input class="form-control search-inp" type="search" placeholder="Search destinations" name="destination">
              <input class="form-control search-inp" type="search" placeholder="Search country" name="country">
              <input class="form-control search-inp" type="search" placeholder="Search city" name="city">
            </div>
            <button class="btn search-btn unclicked" id="search-btn" type="submit">
              <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
              <p id="search">&nbsp;&nbsp;&nbsp;Search</p>
            </button>
          </div>
        </form>
      </div>

      <!-- Nav Links -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">VoyageVista your home</a>
        <% if (!currUser) { %>
          <a class="nav-link nav-link-btn" aria-current="page" href="/signup"><b>Signup</b></a>
          <a class="nav-link nav-link-btn" href="/login"><b>Login</b>&nbsp;&nbsp;<i class="fa-solid fa-user"></i></a>
        <% } %>
        <% if (currUser) { %>
          <a class="nav-link nav-link-btn" href="/logout"><b>Logout</b>&nbsp;&nbsp;<i class="fa-solid fa-user"></i></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>