<% layout("/layouts/boilerplate") %>

<style>
    .sticky-navbar {
        top: 6rem !important;
        position: sticky;
        z-index: 1; /* Ensure it sits above other content */
    }
    @media (max-width: 1200px) {
        .sticky-navbar {
            height: 12rem;
        }
    }
    @media (max-width: 767px) {
        .sticky-navbar {
            height: 15rem;
        }
    }
    @media (max-width: 468px) {
        .sticky-navbar {
            height: 20rem;
        }
    }
    @media (max-width: 394px) {
        .sticky-navbar {
            height: 24rem;
        }
    }
    .no-content{
        margin:auto;
        text-align: center;
    }
    .filter{
        text-align: center;
        margin-right: 1.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        opacity: 0.8;
        text-decoration: none;
        color:black;
        transition: transform 0.5s;
        &:hover{
            opacity: 1;
            cursor: pointer;
            color: black;
            border-bottom: 2px solid gray;
            transform: scale(1.2);
        }
        p{
            font-size: 0.9rem;
        }
    }
    .tax-info{
        display: none;
    }
    .tax-toggle{
        text-align: center;
        border: 1px solid rgb(192, 192, 192) !important;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        margin-left: 2rem;
        transition: box-shadow 0.5s ease !important;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        }
    }
</style>

<!-- Filters  -->
<nav class="navbar navbar-expand-xl navbar-light border-bottom sticky-navbar">
    <div class="container-fluid">
        <a href="/listings/Trending" class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </a>
        <a href="/listings/Rooms" class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </a>
        <a href="/listings/Iconic Cities" class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </a>
        <a href="/listings/Mountains" class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </a>
        <a href="/listings/Castles" class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </a>
        <a href="/listings/Amazing Pools" class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pools</p>
        </a>
        <a href="/listings/Camping" class="filter">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </a>
        <a href="/listings/Farms" class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </a>
        <a href="/listings/Arctic" class="filter">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </a>
        <a href="/listings/Domes" class="filter">
            <div><i class="fa-solid fa-landmark-dome"></i></div>
            <p>Domes</p>
        </a>
        <a href="/listings/Boats" class="filter">
            <div><i class="fa-solid fa-ship"></i></div>
            <p>Boats</p>
        </a>
        
        <div class="tax-toggle">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
            </div>
        </div>
    </div>
</nav>

<!-- Listings -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% if (allListings.length == 0) { %>
        <div class="container d-flex justify-content-center align-items-center" style="height: 50vh;">
            <div class="no-content">
                <h1><i class="far fa-dizzy" style="color: #fe424d;"></i></h1>
                <h1 style="color: #183052; font-family:Verdana, Geneva, Tahoma, sans-serif;"><b>No Content Found</b></h1>
                <h5 style="color: gray;">Try different combinations</h5>
            </div>
        </div>
    <% } 
    else { %>
        <% for(listing of allListings) { %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img class="card-img-top" src="<%= listing.image.url %>" alt="Listing_Image" style="height: 18rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                    <h5 class="card-title"><b><%= listing.title %></b></h5>
                    <p class="card-text">
                        &#8377 <%= listing.price.toLocaleString("en-IN") %>/night
                        <i class="tax-info">&nbsp; +18% GST</i>
                    </p>
                    </div>
                </div>
            </a>
        <% } %>
    <% } %>
</div>