body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1; /* To occupy full view. Rest space is occupied by footer */
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition */
    border-radius: 12px;
    background-color: #fff;
    padding: 8px;
}

.listing-card:hover {
    transform: translateY(-8px); /* Lift effect */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow on hover */
    background-color: #fff;
    padding: 8px;
    transition: all 0.3s ease;
}

.card-body {
    padding: 0% !important;
}

.listing-link{
    text-decoration: none;
    color: black;
}

/* Card Effects */
.card-img-overlay{
    opacity: 0;
    &:hover{
        opacity: 0.2;
        background-color: white;
    }
}

/* New & Edit Page */
.add-btn, .edit-btn{
    background-color: #fe424d !important;
    border: none !important; 
}

/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

/* Map */
#map { 
    height: 400px;
    width: 100vh; 
}

.card-title {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #2d3436;
}

.card-text {
    color: #636e72;
    font-size: 0.95rem;
}