body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    /* To occupy full view. Rest space is occupied by footer */
    flex: 1;
}

/* Footer */
footer a{
    text-decoration: none;
    color: black;
    &:hover{
        text-decoration: underline;
    }
}

.f-info{
    text-align: center;
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1.5rem;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 1rem; 
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0% !important;
}

.listing-link{
    text-decoration: none;
    color: black;
}

/* Card Effects */
.card-img-overlay{
    opacity: 0;
    &:hover{
        opacity: 0.2;
        background-color: white;
    }
}

/* New & Edit Page */
.add-btn, .edit-btn{
    background-color: #fe424d !important;
    border: none !important; 
}

/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

/* Map */
#map { 
    height: 400px;
    width: 100vh; 
}